* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  #app {
    width: 100%;
    height: 100%;
    display: flex;

    #editor {
      display: flex;
      width: 50vw;

      textarea {
        font-family: "Monaco", courier, monospace;
        font-size: 14px;
        width: 100%;
        padding: 20px;
        border: none;
        border-right: 1px solid #ccc;
        resize: none;
        outline: none;
        background-color: #f6f6f6;
        word-break: break-all;
      }
    }

    #preview {
      word-wrap: break-word;
      width: 50vw;
      padding: 0 20px;
      overflow: auto;

      :not(pre)code {
        background-color: #f6f8fa;
        padding: .2em .4em;
        border-radius: 3px;
      }

      pre {
        line-height: 1.45;
        padding: 16px;
        border-radius: 3px;
        background-color: #f6f8fa;
        word-wrap: normal;
        overflow: auto;
      }
    }
  }
}
